/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Yellow Scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #DAA520;
  border-radius: 6px;
}
/* For small screens (e.g., phones) */
@media only screen and (max-width: 600px) {
  .hero-content {
    text-align: center;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .hero-buttons a {
    margin-bottom: 10px;
    width: 60%; /* Make the buttons full width */
  }
}

/* Hamburger Menu Styles */
#toggle-menu {
  cursor: pointer;
  padding: 10px;
  z-index: 20;
}

#toggle-menu svg {
  fill: #DAA520; /* Gold color */
  transition: fill 0.3s;
}

#toggle-menu:hover svg {
  fill: #c69219; /* Darker gold color on hover */
}
/* Mobile Menu Styles */
#mobile-menu {
  background-color: rgb(151, 143, 143,1); /* Semi-transparent black background color */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

#mobile-menu.active {
  transform: translateY(0); /* Show menu when active */
}

#mobile-menu a {
  display: block;
  padding: 0.75rem 1.5rem;
  color: #fff; /* White text color */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#mobile-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background color on hover */
}

#mobile-menu button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.75rem;
}

#mobile-menu button:focus {
  outline: none; /* Remove focus outline */
}


/* Base Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
  }
  
  a {
    text-decoration: none;
    position: relative;
    color: #fff;
    transition: color 0.3s ease;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  a:hover {
    color: #DAA520;
  }

  a:hover::after {
    background-color: #DAA520;
    animation: underline 0.5s forwards;
  }

  @keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  /* Hero Section */
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Images/perfect-background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    max-width: 800px;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 0 1rem;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-content a {
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
    background-color: #DAA520;
    color: #000;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .hero-content a:hover {
    background-color: #c69219;
  }
  
  /* Section Styles */
  .section-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #DAA520;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1rem;
  }
  
  /* About Section */
  .about p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #ccc;
  }
  
  /* Skills Section */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    
  }
  /* Hero Section */
.hero::before {
    background-color: rgba(0, 0, 0, 0.5); /* Change background color to black */
}

/* Skills Section */
.skill-card {
    background-color: #000; /* Change background color to black */
    border: 1px solid #DAA520; /* Add yellow border */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); /* Add deep box shadow */
}

  
  .skill-card {
    background-color: #222;
    padding: 1rem;
    border-radius: 0.25rem;
    transition: transform 0.3s ease;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
  }
  
  .skill-card h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #DAA520;
    margin-bottom: 0.5rem;
  }
  
  .skill-card p {
    font-size: 0.9rem;
    color: #ccc;
  }
  
  /* Projects Section */
  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border: 2px solid #DAA520;

  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
  
  .project-card:hover img {
    transform: scale(1.1);
  }
  
  .project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .project-card:hover .overlay {
    opacity: 1;
  }
  
  .project-card .overlay h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: #DAA520;
  }
  
  .project-card .overlay p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0 0.5rem;
    color: #ccc;
  }
  
  /* Contact Section */
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #DAA520;
    outline: none;
  }
  
  .contact-form button {
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
    background-color: #DAA520;
    color: #000;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contact-form button:hover {
  background-color: #c69219;
}

/* Footer */
footer {
  background-color: #111;
  padding: 1rem;
  text-align: center;
  color: #ccc;
  font-size: 0.8rem;
}

/* Animations */
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.animate-fade-in-delay {
  animation: fade-in 1s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.animate-fade-in-delay-2 {
  animation: fade-in 1s ease-in-out 0.4s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/* //footer styles */
/* Footer Styles */
.social-link {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.social-link:hover {
  color: #DAA520;
}


/* extra projects */
/* .additional-projects {
  display: none;
} */


/* 
@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .skills-grid {
    grid-template-columns: repeat(auto
   */